
USE [BDEJEMPLO2]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Num_Cli] [int] NOT NULL,
	[Empresa] [varchar](20) NOT NULL,
	[Rep_Cli] [int] NULL,
	[Limite_Credito] [money] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[Num_Cli] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oficinas]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oficinas](
	[Oficina] [int] NOT NULL,
	[Ciudad] [varchar](15) NOT NULL,
	[Region] [varchar](10) NOT NULL,
	[Jef] [int] NULL,
	[Objetivo] [money] NULL,
	[Ventas] [money] NOT NULL,
 CONSTRAINT [PK_Oficinas] PRIMARY KEY CLUSTERED 
(
	[Oficina] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[Num_Pedido] [int] NOT NULL,
	[Fecha_Pedido] [date] NOT NULL,
	[Cliente] [int] NOT NULL,
	[Rep] [int] NULL,
	[Fab] [char](3) NOT NULL,
	[Producto] [char](5) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Importe] [money] NOT NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[Num_Pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id_fab] [char](3) NOT NULL,
	[Id_producto] [char](5) NOT NULL,
	[Descripcion] [varchar](20) NOT NULL,
	[Precio] [money] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Productos] PRIMARY KEY CLUSTERED 
(
	[Id_fab] ASC,
	[Id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Representantes]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Representantes](
	[Num_Empl] [int] NOT NULL,
	[Nombre] [varchar](16) NOT NULL,
	[Edad] [int] NULL,
	[Oficina_Rep] [int] NULL,
	[Puesto] [varchar](13) NULL,
	[Fecha_Contrato] [date] NOT NULL,
	[Jefe] [int] NULL,
	[Cuota] [money] NULL,
	[Ventas] [money] NOT NULL,
 CONSTRAINT [PK_Representantes] PRIMARY KEY CLUSTERED 
(
	[Num_Empl] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Clientes] ([Num_Cli], [Empresa], [Rep_Cli], [Limite_Credito]) VALUES (2101, N'Jerandilla Ltd', 106, 65000.0000)
INSERT [dbo].[Clientes] ([Num_Cli], [Empresa], [Rep_Cli], [Limite_Credito]) VALUES (2102, N'Filas', 101, 65000.0000)
INSERT [dbo].[Clientes] ([Num_Cli], [Empresa], [Rep_Cli], [Limite_Credito]) VALUES (2103, N'Acme', 105, 50000.0000)
GO
INSERT [dbo].[Oficinas] ([Oficina], [Ciudad], [Region], [Jef], [Objetivo], [Ventas]) VALUES (11, N'Navarra', N'Este', 106, 575000.0000, 692637.0000)
INSERT [dbo].[Oficinas] ([Oficina], [Ciudad], [Region], [Jef], [Objetivo], [Ventas]) VALUES (12, N'Castellón ', N'Este', 104, 800000.0000, 735042.0000)
INSERT [dbo].[Oficinas] ([Oficina], [Ciudad], [Region], [Jef], [Objetivo], [Ventas]) VALUES (13, N'Almería', N'Este', 105, 350000.0000, 367911.0000)
GO
INSERT [dbo].[Pedidos] ([Num_Pedido], [Fecha_Pedido], [Cliente], [Rep], [Fab], [Producto], [Cantidad], [Importe]) VALUES (112961, CAST(N'1989-12-17' AS Date), 2117, 106, N'REI', N'2A44L', 7, 31500.0000)
INSERT [dbo].[Pedidos] ([Num_Pedido], [Fecha_Pedido], [Cliente], [Rep], [Fab], [Producto], [Cantidad], [Importe]) VALUES (112963, CAST(N'1989-12-17' AS Date), 2103, 105, N'ACI', N'41004', 28, 3276.0000)
INSERT [dbo].[Pedidos] ([Num_Pedido], [Fecha_Pedido], [Cliente], [Rep], [Fab], [Producto], [Cantidad], [Importe]) VALUES (112975, CAST(N'1989-10-10' AS Date), 2111, 103, N'REI', N'2A44G', 6, 2100.0000)
GO
INSERT [dbo].[Productos] ([Id_fab], [Id_producto], [Descripcion], [Precio], [Stock]) VALUES (N'ACI', N'41001', N'Serie 1, cable', 55.0000, 277)
INSERT [dbo].[Productos] ([Id_fab], [Id_producto], [Descripcion], [Precio], [Stock]) VALUES (N'ACI', N'41002', N'Serie 2, cable', 76.0000, 167)
INSERT [dbo].[Productos] ([Id_fab], [Id_producto], [Descripcion], [Precio], [Stock]) VALUES (N'ACI', N'41003', N'Serie 3, cable', 7.0000, 207)
GO
INSERT [dbo].[Representantes] ([Num_Empl], [Nombre], [Edad], [Oficina_Rep], [Puesto], [Fecha_Contrato], [Jefe], [Cuota], [Ventas]) VALUES (101, N'Daniel Ruidrobo', 45, 12, N'Representante', CAST(N'1986-10-20' AS Date), 104, 300000.0000, 305673.0000)
INSERT [dbo].[Representantes] ([Num_Empl], [Nombre], [Edad], [Oficina_Rep], [Puesto], [Fecha_Contrato], [Jefe], [Cuota], [Ventas]) VALUES (102, N'Susana Santos', 48, 21, N'Representante', CAST(N'1986-12-10' AS Date), NULL, 350000.0000, 474050.0000)
INSERT [dbo].[Representantes] ([Num_Empl], [Nombre], [Edad], [Oficina_Rep], [Puesto], [Fecha_Contrato], [Jefe], [Cuota], [Ventas]) VALUES (103, N'Pablo Cruz', 29, 12, N'Representante', CAST(N'1987-03-01' AS Date), 104, 275000.0000, 286775.0000)
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Representantes] FOREIGN KEY([Rep_Cli])
REFERENCES [dbo].[Representantes] ([Num_Empl])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [FK_Clientes_Representantes]
GO
ALTER TABLE [dbo].[Oficinas]  WITH CHECK ADD  CONSTRAINT [FK_Oficinas_Representantes] FOREIGN KEY([Jef])
REFERENCES [dbo].[Representantes] ([Num_Empl])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Oficinas] CHECK CONSTRAINT [FK_Oficinas_Representantes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([Cliente])
REFERENCES [dbo].[Clientes] ([Num_Cli])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Productos] FOREIGN KEY([Fab], [Producto])
REFERENCES [dbo].[Productos] ([Id_fab], [Id_producto])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Productos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Representantes] FOREIGN KEY([Rep])
REFERENCES [dbo].[Representantes] ([Num_Empl])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Representantes]
GO
ALTER TABLE [dbo].[Representantes]  WITH CHECK ADD  CONSTRAINT [FK_Representantes_Oficinas] FOREIGN KEY([Oficina_Rep])
REFERENCES [dbo].[Oficinas] ([Oficina])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Representantes] CHECK CONSTRAINT [FK_Representantes_Oficinas]
GO
ALTER TABLE [dbo].[Representantes]  WITH CHECK ADD  CONSTRAINT [FK_Representantes_Representantes] FOREIGN KEY([Jefe])
REFERENCES [dbo].[Representantes] ([Num_Empl])
GO
ALTER TABLE [dbo].[Representantes] CHECK CONSTRAINT [FK_Representantes_Representantes]
GO
/****** Object:  StoredProcedure [dbo].[agregarCliente]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[agregarCliente]
@num_cli int, @empresa varchar(20),@limite_credito money,
@obj_ventas money, @repre int, @ofi_ciudad varchar(15)
As
 begin
    /*Agrega Cliente*/
	INSERT INTO CLIENTES (Num_Cli,Empresa,Rep_Cli,Limite_Credito)
	VALUES (@num_cli,@empresa,@repre,@limite_credito)
	
	/*Actualiza el representante solicitado*/
	UPDATE REPRESENTANTES 
	SET CUOTA = CUOTA + @obj_ventas
	WHERE num_empl = @repre
	
	/*Actualiza la oficina solicitada*/
	UPDATE OFICINAS
	SET Objetivo = objetivo + @obj_ventas
	where ciudad = @ofi_ciudad
 end
   
GO
/****** Object:  StoredProcedure [dbo].[agregarClientee]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[agregarClientee]
@num_cli int, @empresa varchar(20),@limite_credito money,
@obj_ventas money, @repre int, @ofi_ciudad varchar(15)
As
 begin
    /*Agrega Cliente*/
	INSERT INTO CLIENTES (Num_Cli,Empresa,Rep_Cli,Limite_Credito)
	VALUES (@num_cli,@empresa,@repre,@limite_credito)
	
	/*Actualiza el representante solicitado*/
	UPDATE REPRESENTANTES 
	SET CUOTA = CUOTA + @obj_ventas
	WHERE num_empl = @repre
	
	/*Actualiza la oficina solicitada*/
	UPDATE OFICINAS
	SET Objetivo = objetivo + @obj_ventas
	where ciudad = @ofi_ciudad
 end
GO
/****** Object:  StoredProcedure [dbo].[ConsultaGeneral]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[ConsultaGeneral]
As

begin 
	select * from Oficinas;
end
GO
/****** Object:  StoredProcedure [dbo].[consultaOficinasRegion]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[consultaOficinasRegion]
@region varchar(10)
As
begin
select ciudad, region, objetivo, ventas
from Oficinas 
where Region = @region;
end
GO
/****** Object:  StoredProcedure [dbo].[Verificarpedidos]    Script Date: 26/02/2026 09:09:27 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Verificarpedidos]
@fechainicial date, @fechafinal date 
as
begin
select num_pedido, Fecha_pedido, fab, Producto, importe
from Pedidos
where Fecha_Pedido between @fechainicial
and @fechafinal;
end
GO
USE [master]
GO
